Repository alliecatowo/allie-cat-keeb-vial, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, firmware, build, ci/cd, dependencies, pointing-device, vial

.github/labeler.yml:

# Configuration for PR auto-labeling

documentation:
  - "**/*.md"
  - "docs/**"

firmware:
  - "keyboards/**"
  - "quantum/**"
  - "tmk_core/**"
  - "drivers/**"

build:
  - "builddefs/**"
  - "build.py"
  - "Makefile"
  - "**/*.mk"

ci/cd:
  - ".github/workflows/**"
  - ".github/actions/**"

dependencies:
  - "requirements*.txt"
  - "lib/**"
  - ".gitmodules"

pointing-device:
  - "**/pointing_device*"
  - "**/trackball*"
  - "**/tps43*"
  - "**/trackpoint*"

vial:
  - "**/vial*"
  - "**/via*"

ci: use pipx for qmk setup
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

ci: install qmk via uv
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

ci: persist uv env
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix(ci): streamline uv setup
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix(ci): ensure qmk uses repo
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix: install uv in workflows
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

chore: configure qmk with uv
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

ci: install qmk with uv
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix: restore keyboard alias mappings
  data/mappings/keyboard_aliases.hjson
Labels: none

Update build-firmware.yml
  .github/workflows/build-firmware.yml
Labels: ci/cd

Update pr-checks.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

chore: slim userspace CI, Sofle vial keymap, pointing device docs (ALLIE-197,198,200,202)
  .github/workflows/build-firmware.yml
  .github/workflows/changelog.yml
  .github/workflows/pr-assistant.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-upstreams.yml
  POINTING_DEVICE_README.md
  docs/CONTRIBUTING.md
  keyboards/sofle/keymaps/vial/keymap.c
  keyboards/sofle/keymaps/vial/rules.mk
  keyboards/sofle/keymaps/vial/vial.json
  qmk.json
  readme.md
  users/holykeebs/README.md
Labels: documentation, firmware, build, ci/cd, vial

docs: add workflow reference copy (workflow scope needed to push to .github/)
  docs/workflows/build.yml
Labels: documentation

feat(pointing): multi-device abstraction, Cirque gesture config, sensor docs (ALLIE-201, ALLIE-202)
  POINTING_DEVICE.md
  keyboards/lily58/keymaps/vial/config.h
  keyboards/lily58/keymaps/vial/rules.mk
  users/alliecatowo/README.md
  users/alliecatowo/pointing_device_config.h
Labels: documentation, firmware, build, pointing-device

feat: unified keymap — BASE/NAV/NUM/SYS + homerow mods matching ZMK Sofle (ALLIE-180,182)
  keyboards/lily58/keymaps/vial/KEYMAP.md
  keyboards/lily58/keymaps/vial/alliecat-export.vil.json
  keyboards/lily58/keymaps/vial/keymap.c
Labels: documentation, firmware

feat: add upstream sync script and workflow
  scripts/upstream-sync.sh
Labels: none

feat: migrate userspace to alliecatowo (ALLIE-245)
  CONTRIBUTING.md
  POINTING_DEVICE.md
  build.py
  build_lily/commands.txt
  keyboards/crkbd/keymaps/hk/keymap.c
  keyboards/crkbd/keymaps/idank/keymap.c
  keyboards/holykeebs/spankbd/keymaps/hk/keymap.c
  keyboards/holykeebs/sweeq/keymaps/hk/keymap.c
  keyboards/holykeebs/sweeq/keymaps/via/keymap.c
  keyboards/lily58/keymaps/hk/keymap.c
  keyboards/lily58/keymaps/vial/keymap.c
  keyboards/lily58/keymaps/vial/rules.mk
  readme.md
  users/alliecatowo/README.md
  users/alliecatowo/config.h
  users/alliecatowo/eeprom_config.h
  users/alliecatowo/hk_debug.c
  users/alliecatowo/hk_debug.h
  users/alliecatowo/holykeebs.c
  users/alliecatowo/holykeebs.h
  users/alliecatowo/logofont/font.md
  users/alliecatowo/logofont/logofont.c
  users/alliecatowo/oled.c
  users/alliecatowo/pimoroni.c
  users/alliecatowo/pimoroni.h
  users/alliecatowo/pointing.h
  users/alliecatowo/pointing_device_config.h
  users/alliecatowo/rpc.c
  users/alliecatowo/rpc.h
  users/alliecatowo/rules.mk
  users/alliecatowo/trackpoint.c
  users/alliecatowo/trackpoint.h
Labels: documentation, firmware, build, pointing-device

ci: move build workflow into .github/workflows
  .github/workflows/build.yml
Labels: ci/cd

ci: fix build workflow to compile vial-qmk targets
  .github/workflows/build.yml
Labels: ci/cd

feat: add comprehensive Claude Code configuration for QMK firmware development (#45)
  .claude/QUICKREF.md
  .claude/README.md
  .claude/SETUP_SUMMARY.md
  .claude/commands/build-custom.md
  .claude/commands/build-info.md
  .claude/commands/build.md
  .claude/commands/check.md
  .claude/commands/clean.md
  .claude/commands/info.md
  .claude/commands/release.md
  .claude/commands/setup-env.md
  .claude/commands/test.md
  .claude/prompts/add-device-config.md
  .claude/prompts/contributing.md
  .claude/prompts/fix-build-errors.md
  .claude/prompts/optimize-size.md
  .clauderc
  .gitignore
Labels: documentation

fix: resolve all flake8 linting errors across build.py, tests, and callgraph.py (#44)
  .github/copilot-instructions.md
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
  .github/workflows/quick-tests.yml
  .github/workflows/sync-upstreams.yml
  build.py
  tests/test_build_py.py
  tools/callgraph.py
Labels: documentation, build, ci/cd

fix: restore full CI matrix, OLED dimension, trackpoint ps2 driver, drop cirque (#43)
  .github/workflows/build-firmware.yml
  .github/workflows/changelog.yml
  .github/workflows/pr-assistant.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-upstreams.yml
  .gitignore
  build.py
  builddefs/common_features.mk
  keyboards/crkbd/keymaps/vial/keymap.c
  keyboards/crkbd/keymaps/vial/rules.mk
  keyboards/crkbd/keymaps/vial/vial.json
  keyboards/holykeebs/spankbd/keymaps/vial/keymap.c
  keyboards/holykeebs/spankbd/keymaps/vial/rules.mk
  keyboards/holykeebs/spankbd/keymaps/vial/vial.json
  keyboards/holykeebs/sweeq/keymaps/vial/keymap.c
  keyboards/holykeebs/sweeq/keymaps/vial/rules.mk
  keyboards/holykeebs/sweeq/keymaps/vial/vial.json
  keyboards/lily58/keymaps/vial/config.h
  keyboards/lily58/keymaps/vial/rules.mk
  keyboards/sofle/keymaps/vial/config.h
  keyboards/sofle/keymaps/vial/rules.mk
  qmk.json
  quantum/dynamic_keymap.c
  quantum/pointing_device/pointing_device.h
  users/holykeebs/rules.mk
Labels: firmware, build, ci/cd, pointing-device, vial

Fix tri-upstream sync: rewrite merge logic, add auto-merge on green CI (#47)
  .github/workflows/sync-upstreams.yml
Labels: ci/cd

Codex bootstrap: local qmk shim, env fixes, and CI lint/test job (#46)
  .github/workflows/pr-checks.yml
  bin/qmk
  docs/codex.md
  lib/python/qmk/cli/generate/keycodes.py
  lib/python/qmk/json_encoders.py
  lib/python/qmk/painter.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/__init__.py
  lib/python/qmk/tests/test_cli_commands.py
  readme.md
Labels: documentation, ci/cd, dependencies

fix: add AGENTS.md and env bootstrap to unblock explore subagent in Codex/Copilot sessions (#58)
  .github/copilot-instructions.md
  AGENTS.md
Labels: documentation

ci: add gate jobs so build matrix is enforceable as required check (#48)
  .github/workflows/pr-checks.yml
  .github/workflows/quick-tests.yml
Labels: ci/cd

ci: add copilot-setup-steps.yml + fix broken agent env across all workflows (#60)
  .github/workflows/build-firmware.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr-checks.yml
  .github/workflows/quick-tests.yml
Labels: ci/cd

chore: repo cleanup (junk files, ignores, README accuracy)
  .claude/SETUP_SUMMARY.md
  .clauderc
  ISSUES_TO_CREATE.md
  doxygen-todo
Labels: documentation

chore: repo cleanup (junk files, ignores, README accuracy) (#83)
  .claude/SETUP_SUMMARY.md
  .clauderc
  ISSUES_TO_CREATE.md
  doxygen-todo
Labels: documentation

ci: fix failing build-test and Changelog on main
  .github/workflows/changelog.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

ci: fix failing build-test and Changelog on main (#97)
  .github/workflows/changelog.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

ci: auto-merge Dependabot patch/minor updates once CI passes
  .github/workflows/dependabot-automerge.yml
Labels: ci/cd

ci: configure Dependabot grouping and auto-merge
  .github/dependabot.yml
Labels: none

ci: configure Dependabot grouping and auto-merge (#98)
  .github/dependabot.yml
Labels: none

fix(deps): clear high alerts in docsgen (vite, rollup, postcss)
  builddefs/docsgen/package.json
  builddefs/docsgen/yarn.lock
Labels: build

ci: stop Dependabot from bumping firmware submodules
  .github/dependabot.yml
Labels: none
