Repository alliecatowo/allie-cat-keeb-vial, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, firmware, build, ci/cd, dependencies, pointing-device, vial

feat: Implement vial support for crkbd 42 key board
  build_all.py
  keyboards/crkbd/keymaps/vial/config.h
  keyboards/crkbd/keymaps/vial/keymap.c
  keyboards/crkbd/keymaps/vial/rules.mk
  keyboards/crkbd/keymaps/vial/vial.json
Labels: firmware, build, vial

CI: build call graph
  .github/workflows/pr-checks.yml
  Makefile
  docs/azoteq_callgraph.svg
  mkdocs.yml
  readme.md
  tools/callgraph.py
Labels: documentation, build, ci/cd

fix callgraph includes and regenerate trackpoint graph
  .github/workflows/pr-checks.yml
  Makefile
  docs/cirque_callgraph.svg
  docs/pimoroni_callgraph.svg
  docs/trackpoint_callgraph.svg
  mkdocs.yml
  readme.md
  tools/callgraph.py
Labels: documentation, build, ci/cd, pointing-device

docs: add submodule init script
  AGENTS.md
  scripts/init_submodules.sh
Labels: documentation

Add keymap parsing test and fix matrix include
  .github/workflows/unit.yml
  Makefile
  requirements-dev.txt
  test/unity.c
  test/unity.h
  test/unity.mk
  test/unity_internals.h
  tests/Makefile
  tests/keymatrix_test.c
  tests/python/test_keymap_json.py
Labels: build, ci/cd, dependencies

docs: add unit test instructions
  nose2.cfg
  readme.md
Labels: documentation

Add bug-bot background watcher
  .cursor/background.yml
Labels: none

Add pyproject and use uv venv
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
  CONTRIBUTING.md
  Makefile
  docs/ChangeLog/20220528.md
  docs/cli.md
  docs/cli_development.md
  docs/features/autocorrect.md
  docs/newbs_getting_started.md
  keyboards/ducky/one2mini/1861st/readme.md
  keyboards/ducky/one2sf/1967st/readme.md
  keyboards/ergodox_ez/util/keymap_beautifier/Dockerfile
  keyboards/ergodox_ez/util/keymap_beautifier/README.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/generate/autocorrect_data.py
  pyproject.toml
  readme.md
  util/install/arch.sh
  util/install/debian.sh
  util/install/fedora.sh
  util/install/freebsd.sh
  util/install/gentoo.sh
  util/install/slackware.sh
  util/install/solus.sh
  util/install/void.sh
Labels: documentation, firmware, build, ci/cd, dependencies

Add build-matrix option
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
  build.py
  readme.md
  variants.json
Labels: documentation, build, ci/cd

fix callgraph includes and regenerate trackpoint graph
  .github/workflows/pr-checks.yml
  Makefile
  docs/cirque_callgraph.svg
  docs/pimoroni_callgraph.svg
  docs/trackpoint_callgraph.svg
  mkdocs.yml
  readme.md
  tools/callgraph.py
Labels: documentation, build, ci/cd, pointing-device

docs: add submodule init script
  AGENTS.md
  scripts/init_submodules.sh
Labels: documentation

Add build-matrix option
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
  build.py
  readme.md
  variants.json
Labels: documentation, build, ci/cd

docs: add unit test instructions
  nose2.cfg
  readme.md
Labels: documentation

Fix failing tests
  .github/workflows/changelog.yml
  .github/workflows/pr-assistant.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release-drafter.yml
  lib/python/qmk/tests/test_cli_commands.py
  quantum/matrix.c
Labels: firmware, ci/cd, dependencies

Fix failing tests
  .github/workflows/changelog.yml
  .github/workflows/pr-assistant.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release-drafter.yml
  lib/python/qmk/tests/test_cli_commands.py
  quantum/matrix.c
Labels: firmware, ci/cd, dependencies

docs: clarify dev branch workflows
  AGENTS.md
  readme.md
Labels: documentation

docs: clarify dev branch workflows
  .github/workflows/changelog.yml
  .github/workflows/pr-assistant.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release-drafter.yml
  AGENTS.md
  lib/python/qmk/tests/test_cli_commands.py
  quantum/matrix.c
  readme.md
Labels: documentation, firmware, ci/cd, dependencies

docs: clarify dev branch workflows
  .github/workflows/changelog.yml
  .github/workflows/pr-assistant.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release-drafter.yml
  AGENTS.md
  lib/python/qmk/tests/test_cli_commands.py
  quantum/matrix.c
  readme.md
Labels: documentation, firmware, ci/cd, dependencies

Update pr-assistant.yml
  .github/workflows/pr-assistant.yml
Labels: ci/cd

Run firmware build on main
  .github/workflows/build-firmware.yml
  .github/workflows/changelog.yml
  .github/workflows/pr-assistant.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release-drafter.yml
  AGENTS.md
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_cli_commands.py
  quantum/matrix.c
  readme.md
Labels: documentation, firmware, ci/cd, dependencies

Run firmware build on main (#18)
  .github/workflows/build-firmware.yml
  AGENTS.md
  lib/python/qmk/path.py
  readme.md
Labels: documentation, ci/cd, dependencies

Add Vial feature controls
  keyboards/lily58/keymaps/vial/vial.json
  users/holykeebs/hk_vial.c
  users/holykeebs/holykeebs.c
  users/holykeebs/rules.mk
Labels: firmware, build, vial

Declare all HK keycodes for Vial
  keyboards/lily58/keymaps/hk/keymap.c
  keyboards/lily58/keymaps/vial/keymap.c
  keyboards/lily58/keymaps/vial/vial.json
  users/holykeebs/eeprom_config.h
  users/holykeebs/holykeebs.c
  users/holykeebs/holykeebs.h
  users/holykeebs/pointing.h
Labels: firmware, vial

ci: auto-merge dependabot PRs
  .github/workflows/dependabot-auto-merge.yml
Labels: ci/cd

ci: auto-merge dependabot PRs
  .github/workflows/dependabot-auto-merge.yml
Labels: ci/cd

Add Vial feature controls
  keyboards/lily58/keymaps/vial/vial.json
  users/holykeebs/hk_vial.c
  users/holykeebs/holykeebs.c
  users/holykeebs/rules.mk
Labels: firmware, build, vial

feat: add vial keymaps for sweeq and span
  keyboards/crkbd/keymaps/vial/config.h
  keyboards/crkbd/keymaps/vial/keymap.c
  keyboards/crkbd/keymaps/vial/rules.mk
  keyboards/crkbd/keymaps/vial/vial.json
  keyboards/holykeebs/spankbd/keymaps/vial/config.h
  keyboards/holykeebs/spankbd/keymaps/vial/keymap.c
  keyboards/holykeebs/spankbd/keymaps/vial/rules.mk
  keyboards/holykeebs/spankbd/keymaps/vial/vial.json
  keyboards/holykeebs/sweeq/keymaps/vial/config.h
  keyboards/holykeebs/sweeq/keymaps/vial/keymap.c
  keyboards/holykeebs/sweeq/keymaps/vial/rules.mk
  keyboards/holykeebs/sweeq/keymaps/vial/vial.json
Labels: firmware, build, vial

feat: add vial keymaps for sweeq and span
  keyboards/crkbd/keymaps/vial/config.h
  keyboards/crkbd/keymaps/vial/keymap.c
  keyboards/crkbd/keymaps/vial/rules.mk
  keyboards/crkbd/keymaps/vial/vial.json
  keyboards/holykeebs/spankbd/keymaps/vial/config.h
  keyboards/holykeebs/spankbd/keymaps/vial/keymap.c
  keyboards/holykeebs/spankbd/keymaps/vial/rules.mk
  keyboards/holykeebs/spankbd/keymaps/vial/vial.json
  keyboards/holykeebs/sweeq/keymaps/vial/config.h
  keyboards/holykeebs/sweeq/keymaps/vial/keymap.c
  keyboards/holykeebs/sweeq/keymaps/vial/rules.mk
  keyboards/holykeebs/sweeq/keymaps/vial/vial.json
Labels: firmware, build, vial

docs: clarify build workflow triggers
  .github/workflows/release-drafter.yml
  AGENTS.md
  CONTRIBUTING.md
  readme.md
Labels: documentation, ci/cd

docs: clarify build workflow triggers
  .github/workflows/release-drafter.yml
  AGENTS.md
  CONTRIBUTING.md
  readme.md
Labels: documentation, ci/cd

feat(ci): auto draw keymap diagrams
  .github/workflows/pr-checks.yml
  docs/keymap_corne.svg
  docs/keymap_lily58.svg
  docs/keymap_spankbd.svg
  docs/keymap_sweeq.svg
  mkdocs.yml
  readme.md
  tools/draw_keymaps.py
Labels: documentation, ci/cd

feat(ci): auto draw keymap diagrams
  .github/workflows/pr-checks.yml
  docs/keymap_corne.svg
  docs/keymap_lily58.svg
  docs/keymap_spankbd.svg
  docs/keymap_sweeq.svg
  mkdocs.yml
  readme.md
  tools/draw_keymaps.py
Labels: documentation, ci/cd

chore: switch project to uv
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
  AGENTS.md
  CONTRIBUTING.md
  docs/ChangeLog/20220528.md
  docs/cli.md
  docs/cli_development.md
  docs/features/autocorrect.md
  docs/newbs_getting_started.md
  readme.md
  util/install/arch.sh
  util/install/debian.sh
  util/install/fedora.sh
  util/install/freebsd.sh
  util/install/gentoo.sh
  util/install/slackware.sh
  util/install/solus.sh
  util/install/void.sh
Labels: documentation, ci/cd

fix: use uv with explicit install targets
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
  AGENTS.md
  CONTRIBUTING.md
  docs/ChangeLog/20220528.md
  docs/cli.md
  docs/cli_development.md
  docs/features/autocorrect.md
  readme.md
  util/install/freebsd.sh
Labels: documentation, ci/cd

fix: allow system install when generating call graph
  .github/workflows/pr-checks.yml
  Makefile
Labels: build, ci/cd

chore: use uv venv everywhere
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
  AGENTS.md
  CONTRIBUTING.md
  docs/ChangeLog/20220528.md
  docs/cli.md
  docs/cli_development.md
  docs/features/autocorrect.md
  docs/newbs_getting_started.md
  readme.md
Labels: documentation, ci/cd

docs: add vitepress docs extending qmk
  .github/workflows/docs.yml
  .gitignore
  .gitmodules
  Doxyfile
  branch-protection.json
  build_my_keyboards.py
  docs/.vitepress/config.js
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.js
  docs/guide/README.md
  docs/guide/features.md
  docs/guide/overview.md
  package-lock.json
  package.json
  scripts/generate-docs.js
Labels: documentation, ci/cd, dependencies

docs: lots of docs
  .github/branch-protection.json
  .gitignore
  .gitmodules
  Doxyfile
  ISSUES_TO_CREATE.md
  build_lily/commands.txt
  build_my_keyboards.py
  docs/.vitepress/config.js
  docs/azoteq_callgraph.svg
  docs/cirque_callgraph.svg
  docs/guide/README.md
  docs/guide/building_firmware.md
  docs/guide/ci_cd.md
  docs/guide/contributing.md
  docs/guide/features.md
  docs/guide/fork_features.md
  docs/guide/hks_driver_modifications.md
  docs/guide/overview.md
  docs/guide/setup_tooling.md
  docs/guide/vial.md
  docs/keymap_corne.svg
  docs/keymap_lily58.svg
  docs/keymap_spankbd.svg
  docs/keymap_sweeq.svg
  docs/pimoroni_callgraph.svg
  docs/trackpoint_callgraph.svg
  doxygen-todo
  holykeebs_core_changes.txt
  holykeebs_core_changes.txtrm
  mkdocs.yml
  readme.md
  requirements-dev.txt
  temp_crkbd_hk_keymap.json
  tools/callgraph.py
Labels: documentation, dependencies, pointing-device, vial

docs: add index pages
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/chunk-DDXJJ377.js
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/config.js
  docs/guide/README.md
  docs/guide/index.md
  docs/index.md
  package-lock.json
Labels: documentation

ci: fix QMK setup in workflows
  .github/workflows/build-firmware.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

.github/labeler.yml:

# Configuration for PR auto-labeling

documentation:
  - "**/*.md"
  - "docs/**"

firmware:
  - "keyboards/**"
  - "quantum/**"
  - "tmk_core/**"
  - "drivers/**"

build:
  - "builddefs/**"
  - "build.py"
  - "Makefile"
  - "**/*.mk"

ci/cd:
  - ".github/workflows/**"
  - ".github/actions/**"

dependencies:
  - "requirements*.txt"
  - "lib/**"
  - ".gitmodules"

pointing-device:
  - "**/pointing_device*"
  - "**/trackball*"
  - "**/tps43*"
  - "**/trackpoint*"

vial:
  - "**/vial*"
  - "**/via*"
